	.include lib.te

	.test1 X 0 L

	# A
	-1
	-2
	-2
	-2
	-2
	-2
	-1
	-2

	.goto E

	# B
	L: -2
	-1
	-2
	-2
	-2
	-2
	-1
	-2

	E:_Z -1

	X:1




